{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead colspan="4">
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{transaction["symbol"]}}</td>
                <td>{{transaction["shares"]}}</td>
                <td>{{transaction["price"]}}</td>
                <td>{{transaction["transacted"]}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
         <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{total}}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
